# Copyright (c) 2024 Advanced Micro Devices, Inc.
#
# SPDX-License-Identifier: Apache-2.0

source /home/carras/Escritorio/TFG/vitis_workspace/platform/hw/sdt/ps7_init.tcl

proc load_image args  {
	set elffile [lindex $args 0]
	set bitfile [lindex $args 1]
	connect
	
	fpga -no-rev -f $bitfile
	after 3000
	targets -set -nocase -filter {name =~ "APU"}
	#source /home/carras/Escritorio/TFG/vitis_workspace/platform/hw/sdt/ps7_init.tcl
	#after 1000
	ps7_init
	ps7_post_config
	after 2000
	targets -set -filter {name =~ "ARM Cortex-A9 MPCore #0"}
	dow /home/carras/Escritorio/TFG/vitis_workspace/platform/zynq_fsbl/build/fsbl.elf
	con
	after 1000

	dow /home/carras/project_1/project_1.gen/sources_1/bd/system/ip/system_microblaze_riscv_0_3/data/riscv_bootloop.elf

	targets -set -nocase -filter {name =~ "APU"}
	mwr -force 0xE000A284 0x00000001
	mwr -force 0xE000A048 0x00000001

	targets -set -filter {name =~ "Hart #0"}
	rst
	after 2000
	dow $elffile
	con
	exit
}

load_image {*}$argv
